
.form-calendar {
    text-align: left;
    width: 20rem;
    margin: auto;
}

.text-container {
    text-align: center;
}

.cal-tile-highlight {
    text-decoration: underline black;
    font-weight: bold;

}

.buttons-container {
    padding: 1em;
}